

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



td.ram_td {
	border:1px solid white;
	width:6px;
	height:6px;
}

td.ram_td.dark {
	background-color:#622;
}

td.ram_td.light {
	background-color:#baa;
}

td.ram_td.pc {
	background-color:#b22;
}













